<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
  <body>
    <img class="backGroundImage"  src="/images/eco3.png" alt="">
    <div class="Rectangle5">
      <i class="fa fa-rupee "  style="font-size:36px">
          <span class="investment">INVESTMENT CALCULATOR</span>
      </i>
        
  </div>
    <img class="backGroundImage2" src="/images/ECO 2.png" alt="">
