<%-include('partials/header') -%>

    
    <div class="button1">
        <button class="btn btn-lg btn-primary" type="button">LOGIN/REGISTER</button>
    </div>

    <div class="description">
        <h1 class="description1">DESCRIPTION</h1>
        <div class="description2">
            <p class="description3">Tell me about this website breifly and state the reason why should i  use this site.
                Tell me more about this.
            </p>
        </div>
        
    </div>

<%-include('partials/footer') -%>