<%-include('partials/header')-%>
<div class="form">
    <div class="insideForm">
        <div class="signInHeader">
            <h2 class="signInColor">SIGN IN</h2>
        </div>

        <form action="" method="post">
            <div class="userName">
                <p class="usernameText">Username</p>
                <input class="userNameInput" type="text" name="userName">
                
            </div>
            <div class="password">
                <p class="passwordText">Password</p>
                <input class="passwordInput" type="text" name="password" >
            </div>
            <p class="signup">Don’t you have an account? <a class="link" href="">Sign up here</a> </p>
            <div class="button">
             <input type="submit" value="LOGIN" class="loginButton" >
            </div>
        </form>
    </div>
</div>

<%-include('partials/footer')-%>